html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  font-family: "Roboto", "Tahoma", sans-serif;
  color: #ffffff;
  background-color: #849d8f;
  background-image: linear-gradient( to bottom, rgba(255, 255, 255, 0.2) 0%, transparent 100%);
  background-position: top left;
  background-size: 100% 656px;
  background-repeat: no-repeat;
}


/*------------------------------------*\
    #COMMON-TAGS
\*------------------------------------*/

*,
::before,
::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration-color: rgba(255, 255, 255, 0.3);
}

a:focus,
a:hover {
  color: #ffbc9e;
  text-decoration-color: rgba(249, 172, 159, 0.3);
}

.input,
.modal textarea {
  padding: 10px 15px;
  font-weight: 700;
  background-color: #ffffff;
  box-shadow: inset 0px 0px 0px 1px #d3d3d2;
  border: none;
  border-radius: 5px;
}

.input:hover,
.modal textarea:hover {
  background-color: #ffffff;
  box-shadow: inset 0px 0px 0px 2px #9a9a9a;
}

.input:focus,
.modal textarea:focus {
  background-color: #ffffff;
  box-shadow: inset 0px 0px 0px 2px #2e88e4;
  border-radius: 5px;
  outline: none;
}

.input::placeholder,
.modal textarea::placeholder {
  font-weight: 400;
  color: #999999;
}


/*------------------------------------*\
    #COMMON-CLASSES
\*------------------------------------*/

.container {
  max-width: 1200px;
  min-width: 900px;
  margin: 0 auto;
}

.wrapper {
  margin: 0 2.3%;
}

.wrapper-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.button {
  display: inline-block;
  padding: 0.61em 1.28em;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33;
  color: #ffffff;
  text-decoration: none;
  background-image: linear-gradient( to top, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
  border: none;
  border-radius: 2.55em;
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
  cursor: pointer;
}

.button:focus,
.button:hover {
  color: #ffffff;
  background-image:
    linear-gradient( to top, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 100%),
    linear-gradient( to top, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
}

.button:active {
  background-image:
    linear-gradient( to top, rgba(0, 0, 0, 0.07) 0%, rgba(0, 0, 0, 0.07) 100%),
    linear-gradient( to top, rgb(242, 104, 67) 0%, rgb(231, 74, 53) 100%);
  box-shadow: inset 0px 2px 2px 0px rgb(148, 39, 24);
}


/*------------------------------------*\
    #HEADER
\*------------------------------------*/

.header {
  padding: 9px 0 0;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 2.3%;
}

.navigation-home {
  margin-right: 10px;
}

.navigation-home img {
  display: block;
  width: 154px;
  height: 64px;
}

.navigation-home-link[href]:focus img,
.navigation-home-link[href]:hover img {
  opacity: 0.8;
}

.navigation-home-link[href]:active img {
  opacity: 0.5;
}

/*  #NAVIGATION-SITE  ----------------*/

.navigation-site {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation-site > li {
  position: relative;
  padding: 5px 0;
}

.navigation-site-link {
  display: block;
  padding: 7px 14px;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  border-radius: 16px;
}

.navigation-site-link:focus,
.navigation-site-link:hover {
  color: #333333;
  text-decoration: none;
  background-color: #f7f6f3;
}

.navigation-site-link:active {
  background-color: #ededed;
  box-shadow: inset 0px 2px 1px 0px rgb(105, 105, 105);
}

.navigation-site-current {
  text-decoration: none;
  background-color: #d07058;
}

.navigation-submenu {
  position: absolute;
  top: 100%;
  left: -7px;
  z-index: 100;
  display: none;
  min-width: 143px;
  margin: 0;
  padding: 5px 0;
  font-size: 14px;
  line-height: 16px;
  color: #323232;
  background-color: #f8f7f4;
  list-style: none;
  border-radius: 5px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.navigation-site-item:hover .navigation-submenu {
  display: block;
}

.navigation-submenu a {
  display: block;
  width: 100%;
  padding: 7px 20px;
  text-decoration: none;
}

.navigation-submenu a[href]:focus,
.navigation-submenu a[href]:hover {
  color: inherit;
  background-color: #fbded7;
}

.navigation-submenu a[href]:active {
  background-color: #f6b5a5;
  box-shadow: none;
}

.navigation-submenu-current,
.navigation-submenu-current:hover {
  color: #ffffff;
  background-color: #d07058;
}

.navigation-important {
  position: relative;
  margin-bottom: 9px;
  padding-top: 11px;
  padding-bottom: 11px;
  font-weight: 700;
}

.navigation-important::after {
  content: "";
  position: absolute;
  left: 7px;
  bottom: 0;
  right: 7px;
  height: 1px;
  background-color: rgba(53, 53, 53, 0.2);
}

/*  #NAVIGATION-USER  ----------------*/

.navigation-user {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  margin: 0 0 5px;
  padding: 0;
  list-style: none;
}

.navigation-user-item {
  position: relative;
  margin-left: 10px;
  padding: 5px 0;
}

.navigation-user-item > a {
  display: inline-block;
  min-height: 32px;
  padding: 6px 16px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  vertical-align: middle;
  text-decoration: none;
  background-color: rgba(248, 247, 244, 0.2);
  border-radius: 16px;
}

.navigation-user-item > a:focus,
.navigation-user-item > a:hover,
.navigation-user-item > a[data-amount] {
  color: #323232;
  background-color: #ffffff;
}

.navigation-user-item > a:active {
  background-color: #ededed;
  box-shadow: inset 0px 2px 1px 0px rgb(105, 105, 105);
}

.navigation-user-item a::before {
  display: inline-block;
  vertical-align: middle;
}

.navigation-user-item .navigation-user-search {
  padding: 6px 7.5px;
}

.navigation-user-search::before {
  content: "";
  display: block;
  width: 17px;
  height: 17px;
  background-image:
    url("../img/search.svg"),
    url("../img/search-hover.svg");
  background-position: center center;
  background-size:
    17px 17px,
    0px 0px;
  background-repeat: no-repeat;
}

.navigation-user-search:focus::before,
.navigation-user-search:hover::before {
  background-image: url("../img/search-hover.svg");
  background-size:
    17px 17px;
}

.navigation-user-login::before {
  content: "";
  display: block;
  width: 21px;
  height: 19px;
  margin-right: 6px;
  background-image:
    url("../img/login.svg"),
    url("../img/login-hover.svg");
  background-position: center center;
  background-size:
    21px 19px,
    0px 0px;
  background-repeat: no-repeat;
}

.navigation-user-login:focus::before,
.navigation-user-login:hover::before {
  background-image: url("../img/login-hover.svg");
  background-size: 21px 19px;
}

.navigation-user-cart {
  min-width: 117px;
}

.navigation-user-cart::before {
  content: "";
  display: block;
  width: 21px;
  height: 20px;
  margin-right: 5px;
  background-image:
    url("../img/cart.svg"),
    url("../img/cart-hover.svg");
  background-position: center center;
  background-size:
    21px 20px,
    0px 0px;
  background-repeat: no-repeat;
}

.navigation-user-cart[data-amount]::before {
  content: "";
  width: 21px;
  height: 20px;
  margin-right: 5px;
  background-image: url("../img/cart-active.svg");
  background-size: 21px 20px;
}

.navigation-user-cart:not([data-amount]):focus::before,
.navigation-user-cart:not([data-amount]):hover::before {
  background-image: url("../img/cart-hover.svg");
  background-size: 21px 20px;
}

/*  #HEADER-FORM  ----------------*/

.navigation-user form {
  position: absolute;
  right: 0;
  top: 100%;
  z-index: 100;
  display: none;
  padding: 20px 15px;
  color: #323232;
  font-size: 13px;
  line-height: 16px;
  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.navigation-user-item:hover form {
  display: block;
}

.navigation-user input {
  width: 100%;
  font-size: 14px;
  line-height: 24px;
}

.form-search {
  width: 340px;
}

.form-login {
  right: -3px;
  width: 277px;
}

.navigation-user .form-login {
  padding-right: 17px;
  padding-left: 19px;
}

.form-login input {
  margin-bottom: 20px;
}

.form-login .wrapper-flex {
  margin: 0;
}

.form-login .button {
  border-radius: 16px/22px;
}

.form-login p {
  margin: 0 2px 0;
  font-size: 13px;
  line-height: 20px;
}

.form-login a {
  text-decoration-color: rgba(0, 0, 0, 0.3);
}

.form-login a:focus,
.form-login a:hover,
.form-login a:active {
  color: #e84d37;
  text-decoration-color: rgba(232, 77, 55, 0.3);
}

.form-cart {
  width: 540px;
}

.form-cart table {
  width: 100%;
  border-collapse: collapse;
}

.form-cart-remove,
.form-cart-image,
.form-cart-link,
.form-cart-count,
.form-cart-price,
.form-cart-sum {
  vertical-align: top;
  padding-bottom: 15px;
}

.form-cart-remove {
  padding-right: 10px;
}

.form-cart-remove button {
  position: relative;
  width: 15px;
  height: 15px;
  background: none;
  border: none;
  cursor: pointer;
}

.form-cart-remove button::before,
.form-cart-remove button::after {
  content: "";
  position: absolute;
  background-color: #000000;
  transform: rotate(45deg);
}

.form-cart-remove button::before {
  top: 7px;
  left: 0;
  width: 15px;
  height: 1px;
}

.form-cart-remove button::after {
  top: 0;
  left: 7px;
  width: 1px;
  height: 15px;
}

.form-cart-remove,
.form-cart-link,
.form-cart-count,
.form-cart-price,
.form-cart-sum {
  padding-top: 9px;
}

.form-cart-link {
  padding-left: 7px;
}

.form-cart-count {
  text-align: right;
}

.form-cart-price {
  min-width: 57px;
  color: #999999;
  padding-right: 5px;
}

.form-cart-sum {
  padding-right: 13px;
  padding-left: 13px;
  text-align: center;
}

.form-cart img {
  width: 33px;
  height: 33px;
  border-radius: 50%;
}

.form-cart a {
  display: inline-block;
  width: 220px;
  text-decoration: none;
}

.form-cart a:focus,
.form-cart a:hover,
.form-cart a:active {
  color: #e84d37;
}

.form-cart-final-sum {
  padding: 14px 0;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  text-align: right;
  border-top: 1px solid #cacac7;
}

.form-cart .button {
  padding-right: 14px;
  padding-left: 14px;
  float: right;
  letter-spacing: -0.3px;
  border-radius: 16px/22px;
}

/*  #BREADCRUMBS  --------------------*/

.breadcrumbs-wrapper {
  flex-direction: row-reverse;
}

.breadcrumbs {
  display: flex;
  margin: auto 0 3px;
  padding: 0;
  font-size: 14px;
  line-height: 16px;
  list-style: none;
}

.breadcrumbs li:not(:last-child)::after {
  content: "»";
  display: inline-block;
  margin: 0 7px 0 4px;
  vertical-align: baseline;
}

.operating-mode {
  margin-left: auto;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
}

.operating-mode a {
  display: block;
  margin-top: 4px;
  font-size: 22px;
  line-height: 24px;
  text-decoration: none;
}


/*------------------------------------*\
    #INDEX-CONTENT
\*------------------------------------*/

/*  #SLIDER --------------------------*/

.slider {
  position: relative;
  margin-bottom: 40px;
  padding-top: 274px;
  text-align: center;
}

.slider-controls {
  display: flex;
  position: absolute;
  bottom: 22px;
  left: 0;
}

.slider-controls label {
  margin-right: 9px;
  width: 20px;
  height: 20px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.slide-1:checked ~ .slider-wrapper label[for="slide-1"],
.slide-2:checked ~ .slider-wrapper label[for="slide-2"],
.slide-3:checked ~ .slider-wrapper label[for="slide-3"] {
  background-color: #ffffff;
}

.slider-item {
  display: none;
}

.slide-1:checked ~ .slider-wrapper .slider-item-1,
.slide-2:checked ~ .slider-wrapper .slider-item-2,
.slide-3:checked ~ .slider-wrapper .slider-item-3 {
  display: block;
}

.slider-item h3 {
  margin: 0 auto 28px;
  max-width: 670px;
  font-weight: 700;
  font-size: 60px;
  line-height: 61px;
}

.slider-item .button {
  padding: 10px 40px;
  font-size: 32px;
  line-height: 44px;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
}

.slider-wrapper {
  background-position: center top;
  background-repeat: no-repeat;
}

.slide-1:checked ~ .slider-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slide-1.png");
}

.slide-2:checked ~ .slider-wrapper {
  background-color: #8996a6;
  background-image: url("../img/slide-2.png");
}

.slide-3:checked ~ .slider-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/slide-3.png");
}

/*  #ACTIONS --------------------------*/

.actions {
  margin-bottom: 32px;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

.actions-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 48.85%;
  min-height: 229px;
  padding: 18px 20px 23px 18px;
  border-radius: 14px;
}

.actions-item h3 {
  margin: 0;
  margin-bottom: 16px;
  font-size: 35px;
  line-height: 41px;
}

.actions-item p {
  margin: 0;
}

.actions-item .button {
  margin-top: auto;
  align-self: flex-end;
}

.actions .berry {
  background-color: #7a0c1d;
  background-image: url("../img/background-berry.jpg");
}

.actions .chocolate {
  background-color: #362016;
  background-image: url("../img/background-chocolate.jpg");
}

/*  #PRODUCTS -------------------------*/

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
  margin-bottom: 5px;
  padding: 0 1.2%;
}

.products-item {
  position: relative;
  width: 25%;
  margin-bottom: 23px;
  padding: 8px 1.1% 0;
  text-decoration: none;
  text-align: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  overflow: hidden;
  cursor: default;
}

.products-item:focus,
.products-item:hover {
  z-index: 100;
  color: inherit;
  background-color: rgba(248, 247, 244, 0.2);
}

.products-item img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.products-item-price {
  position: relative;
}

.products-item-price p {
  position: absolute;
  bottom: 14px;
  left: 0;
  margin: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 45px;
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}

.products-item-value {
  font-size: 45px;
}

.products-item-value::after {
  content: url("../img/ruble.svg");
  display: inline-block;
  margin-right: 2px;
  margin-left: 3px;
  vertical-align: bottom;
}

.products-item-best .products-item-price::before {
  content: "Хит!";
  position: absolute;
  top: 0;
  left: 0;
  width: 61px;
  height: 61px;
  color: transparent;
  background-image: url("../img/best.svg");
  background-position: center center;
  background-size: 61px 61px;
  background-repeat: no-repeat;
}

.products-item h3 {
  margin: 9px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0.3);
}

.products-item-hover {
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  padding-bottom: 7.6%;
  background-color: rgba(248, 247, 244, 0.2);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.products-item:focus,
.products-item:hover {
  display: block;
  overflow: visible;
}

.products-item .button {
  padding-right: 15px;
  padding-left: 15px;
}

/*  #ABOUT-US -------------------------*/

.about-us {
  margin-bottom: 40px;
  padding: 25px 20px 12px;
  color: #323232;

  background-color: #ebdec2;
  background-image: url("../img/background-about-us.jpg");
  border-radius: 14px;
}

.about-us-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.about-us-list.wrapper-flex {
  align-items: flex-start;
}

.about-us-list li {
  position: relative;
  width: 48.7%;
  margin-bottom: 12px;
  padding-top: 12px;
  padding-left: 56px;
}

.about-us-list li::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 49px;
  height: 49px;
}

.about-us-icecream::before {
  content: url("../img/icecream.svg");
}

.about-us-farm::before {
  content: url("../img/farm.svg");
}

.about-us-ecology::before {
  content: url("../img/ecology.svg");
}

.about-us-thermopack::before {
  content: url("../img/thermopack.svg");
}

.about-us h1 {
  margin: 0;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
}

.about-us-list {
  list-style: none;
}

/*  #BLOG -----------------------------*/

.blog {
  align-self: stretch;
  width: 48.85%;
  min-height: 220px;
  margin-bottom: 40px;
  padding: 22px 20px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #323232;
  background-color: #ffffff;
  background-image: url("../img/background-blog.jpg");
  background-position: right -30px top -38px;
  background-repeat: no-repeat;
  border-radius: 14px;
}

.blog h2 {
  margin: 0;
  margin-bottom: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}

.blog p {
  max-width: 300px;
  margin: 0;
}

.blog a {
  background-color: rgba(255, 255, 255, 0.8);
  text-decoration-color: #000000;
}

.blog a:focus,
.blog a:hover,
.blog a:active {
  color: #e84d37;
  text-decoration-color: rgba(232, 77, 55, 0.3);
}

/*  #SUBSCRIBE ------------------------*/

.subscribe {
  display: flex;
  flex-direction: column;
  width: 48.85%;
  min-height: 220px;
  margin-bottom: 40px;
  padding: 26px 20px;
  color: #5a5a5a;
  background-color: #f8f7f4;
  background-image:
    linear-gradient( #f8f7f4 0%, #f8f7f4 100%),
    repeating-linear-gradient( -45deg, #92cdff 0px, #92cdff 5px, #f8f7f4 5px, #f8f7f4 10px, #fe9e90 10px, #fe9e90 15px, #f8f7f4 15px, #f8f7f4 20px);
  background-clip:
    padding-box,
    border-box;
  border: 6px solid transparent;
  border-radius: 14px;
}

.subscribe p {
  margin: 0;
}

.subscribe-form {
  display: flex;
  justify-content: space-between;
  margin: auto 0 8px;
}

.subscribe-form input {
  flex-grow: 1;
  width: 60%;
  margin-right: 11px;
  padding-top: 14px;
  padding-bottom: 14px;
}

.subscribe-form .button {
  flex-shrink: 0;
  padding-right: 15px;
  padding-left: 15px;
}

/*  #CONTACTS -------------------------*/

.contacts {
  min-height: 430px;
  font-size: 14px;
  line-height: 20px;
  color: #323232;
  background-color: #ffffff;
  background-image: url("../img/map.png");
  background-position: center center;
  background-size: cover;
}

.contacts .container {
  position: relative;
}

.contacts-map {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

.contacts-text {
  position: absolute;
  top: 60px;
  right: 2.3%;
  width: 300px;
  padding: 30px 25px;
  background-color: #ffffff;
  border-radius: 14px;
}

.contacts-text p {
  margin: 0;
  margin-bottom: 20px;
}

.contacts-text b {
  display: block;
  margin: 2px 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.contacts-text .button {
  width: 100%;
  margin: 2px 0;
  text-align: center;
}

/*  #MODAL  --------------------------*/

.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
}

.modal {
  display: none;
}

.modal-message {
  position: relative;
  width: 477px;
  padding: 16px 24px 24px;
  color: #323232;
  background-color: #f8f7f4;
  border-radius: 10px;
}

.modal-message b {
  display: block;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}

.modal-message form {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  width: 100%;
}

.modal-message input {
  width: 267px;
  margin-bottom: 20px;
  padding: 13px 15px;
}

.modal-message textarea {
  width: 100%;
  min-height: 155px;
  margin-bottom: 25px;
}

.modal-message .button {
  align-self: flex-end;
  letter-spacing: -0.3px;
}

.modal-close {
  position: absolute;
  top: 14px;
  right: 14px;
  width: 22px;
  height: 22px;
  background: none;
  border: none;
  cursor: pointer;
}

.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  background-color: #000000;
  transform: rotate(45deg);
}

.modal-close::before {
  top: 10px;
  left: 0;
  width: 22px;
  height: 2px;
}

.modal-close::after {
  top: 0;
  left: 10px;
  width: 2px;
  height: 22px;
}

/*------------------------------------*\
    #INNER-CONTENT
\*------------------------------------*/

.inner-content h1 {
  margin: 3px 2.3% 25px;
  font-weight: 700;
  font-size: 35px;
  line-height: 41px;
}

/*  #FILTERS --------------------------*/

.filters {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
}

.filters-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 860px;
}

.filters-form fieldset {
  position: relative;
  margin: 22px 0 15px;
  padding: 0px 12px 0px;
  background-color: rgba(248, 247, 244, 0.2);
  border: none;
  border-radius: 18px;
}

.filters-form legend {
  position: absolute;
  top: -22px;
  left: 16px;
  font-size: 14px;
  line-height: 16px;
}

.filters-form input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.filters label {
  position: relative;
  display: inline-block;
  padding: 8px 0;
  vertical-align: baseline;
  cursor: pointer;
}

.filters label::before {
  opacity: 0.8;
}

.filters label:hover::before,
.filters input:focus + label::before {
  opacity: 1;
}

.filters input:disabled + label::before {
  opacity: 0.4;
}

.filters-sorting select:focus,
.filters-sorting select:hover,
.filters label:focus,
.filters label:hover {
  color: #323232;
}

.filters-sorting select {
  font: inherit;
  color: inherit;
  padding: 8px 0;
  background-color: transparent;
  background-image:
    linear-gradient( 60deg, transparent 0%, transparent 50%, #ffffff 50%, #ffffff 100%),
    linear-gradient( -60deg, transparent 0%, transparent 50%, #ffffff 50%, #ffffff 100%);
  background-position:
    right 7px top 15px,
    right 2px top 15px;
  background-size: 5px 10px;
  background-repeat: no-repeat;
  cursor: pointer;
  border: none;
}

.filters-sorting select:focus,
.filters-sorting select:hover {
  background-image:
    linear-gradient( 60deg, transparent 0%, transparent 50%, #323232 50%, #323232 100%),
    linear-gradient( -60deg, transparent 0%, transparent 50%, #323232 50%, #323232 100%);
}

.filters-price {
  position: relative;
  width: 218px;
  min-height: 36px;
}

.filters-price-scale,
.filters-price-scale-fill {
  position: absolute;
  top: 16px;
  height: 4px;
}

.filters-price-scale {
  left: 21px;
  width: 176px;
  background-color: rgba(248, 247, 244, 0.5);
}

.filters-price-scale-fill {
  left: 44px;
  width: 98px;
  background-color: rgba(248, 247, 244, 1);
}

.filters-price-min,
.filters-price-max {
  position: absolute;
  top: 8px;
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 0;
  background-color: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0px 3px 0px 0px rgba(171, 171, 171, 0.3);
  cursor: pointer;
}

.filters-price-min {
  left: 34px;
}

.filters-price-max {
  left: 132px;
}

.filters .filters-fat-content {
  margin-right: 2px;
}

.filters-fat-content label {
  margin-top: 2px;
}

.filters-fat-content label:last-child {
  margin-right: 5px;
}

.filters input[type="radio"] + label:not(:last-child) {
  margin-right: 15px;
}

.filters input[type="radio"] + label::before {
  content: "";
  display: inline-block;
  width: 22px;
  height: 22px;
  margin-top: -2px;
  margin-right: 9px;
  padding: 4px;
  vertical-align: middle;
  background-clip: content-box;
  border: 3px solid #ffffff;
  border-radius: 50%;
}

.filters input[type="radio"]:checked + label::before {
  background-color: #ffffff;
}

.filters-fillers label:last-child {
  margin-right: 8px;
}

.filters input[type="checkbox"] + label:not(:last-child) {
  margin-right: 16px;
}

.filters input[type="checkbox"] + label::before {
  content: url("../img/checkbox.svg");
  display: inline-block;
  width: 24px;
  height: 20px;
  margin: -2px 6px 0 3px;
  vertical-align: middle;
}

.filters input[type="checkbox"]:checked + label::before {
  content: url("../img/checkbox-on.svg");
}

.filters-form button[type="submit"] {
  display: inline-block;
  margin: auto 0 15px;
  padding: 9px 30px;
  font: inherit;
  color: inherit;
  background-color: rgba(248, 247, 244, 0.2);
  border: none;
  border-radius: 18px;
  box-shadow: inset 0px 0px 0px 2px #ffffff;
}

.filters-form button[type="submit"]:focus,
.filters-form button[type="submit"]:hover {
  color: #323232;
  background-color: #ffffff;
}

.filters-form button[type="submit"]:active {
  background-color: #eaeaea;
  box-shadow: inset 0px 2px 1px 0px #696969;
}

/*  #CATALOG --------------------------*/

.inner .products {
  margin-bottom: 52px;
}

.inner .products-item {
  margin-bottom: 19px;
}

/*  #PAGINATION -----------------------*/

.pagination {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0;
  padding-bottom: 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  list-style: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.pagination a {
  display: block;
  min-width: 25px;
  min-height: 25px;
  margin: auto 1.6px;
  line-height: 25px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.pagination a:focus[href],
.pagination a:hover[href] {
  color: #ffffff;
  background-color: rgba(248, 247, 244, 0.2);
}

.pagination a:active,
.pagination-current {
  color: #323232;
  background-color: #ffffff;
}

.pagination-current:hover {
  color: #323232;
}

.pagination .pagination-prev,
.pagination .pagination-next {
  display: block;
  min-width: 10px;
  min-height: 10px;
  border-top: 2px solid #ffffff;
  border-left: 2px solid #ffffff;
  border-radius: 0;
}

.pagination .pagination-prev {
  margin-right: 12px;
  transform: rotate(-45deg);
}

.pagination .pagination-next {
  margin-left: 12px;
  transform: rotate(135deg);
}

.pagination-prev:not([href]),
.pagination-next:not([href]) {
  opacity: 0.2;
}


/*------------------------------------*\
    #FOOTER
\*------------------------------------*/

.footer .wrapper {
  min-height: 103px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.footer ul {
  font-size: 13px;
  line-height: 19px;
  list-style: none;
}

/*  #SOCIAL ---------------------------*/

.social {
  display: flex;
  margin: 0;
  padding: 0;
}

.social-link {
  display: block;
  width: 37px;
  height: 37px;
  margin-right: 13px;
  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

.social-link:focus,
.social-link:hover,
.social-link:active {
  border-color: rgba(255, 255, 255, 0.7);
}

.social-link::before {
  display: block;
  width: 31px;
  height: 31px;
  opacity: 0.8;
}

.social-link:focus::before,
.social-link:hover::before {
  opacity: 1;
}

.social-link:active::before {
  opacity: 0.7;
}

.social-link-tw::before {
  content: url("../img/tw.svg");
}

.social-link-ins::before {
  content: url("../img/ins.svg");
}

.social-link-fb::before {
  content: url("../img/fb.svg");
}

.social-link-vk::before {
  content: url("../img/vk.svg");
}

/*  #INFO -----------------------------*/

.info {
  display: flex;
  flex-wrap: wrap;
  max-width: 340px;
  margin: 0;
  padding: 0;
}

.info a {
  display: block;
  min-width: 143px;
  padding: 1px 0px 1px 13px;
}

.info-link-partners {
  position: relative;
  font-weight: 700;
}

.info-link-partners::before {
  content: url("../img/heart.svg");
  position: absolute;
  top: 4px;
  left: -8px;
  width: 15px;
  height: 13px;
}

/*  #COPYRIGHT ------------------------*/

.copyright {
  font-size: 12px;
  line-height: 18px;
}

.copyright img {
  display: block;
  margin: -7px 0 5px 2px;
  width: 108px;
  height: 39px;
}

.copyright p {
  margin: 0;
}
